altgraph==0.16.1
argh==0.26.2
Django==2.2.4
future==0.17.1
macholib==1.11
pathtools==0.1.2
pefile==2018.8.8
ping3==2.1.0
psutil==5.5.0
PyInstaller==3.4
PyMuPDF==1.14.8
pypiwin32==223
pytz==2019.2
pywin32==224
pywin32-ctypes==0.2.0
PyYAML==3.13
sqlparse==0.3.0
virtualenv==16.7.8
watchdog==0.9.0
